body, html {
  height: 100%;
  margin: 0;
  background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;

}

.topnav{
  background-color: #666798;
  overflow:hidden;
  padding: 10px;
  padding-right: 8%;
}

li{
  display: inline;
}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding-top:15px;
  padding-right: 25px;
  text-decoration:none;
  font-size: 17px;
}
.topnav-right {
  float: right;
  list-style-type: none;
}
.topnav a:active{
  font-weight: bold;
}

.topnav img{
  margin-left: 8%;
  width: 7%;
}

.dropdown {
  float: left;
  overflow: hidden;
  color: #ddd;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding-top: 15px;
  padding-right: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  font-weight: bold;
}

.pdropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.pdropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.pdropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .pdropdown {
  display: block;
}

#mainContainer{
    margin:0 auto;
    width: 90%;
}
#content-section{
    background-color: white;
    margin-top:-18px;
    width:90%;
}

.header img{
  width:90%;
}

h1{
  font-size: 60px;
  color: white;
  position: absolute;
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 16px;
}

h3{
  font-size: 14px;
}

.speaker{
  padding-top: 30px;
  padding-bottom: 50px;
  justify-content: center;
  display: flex;
}

.speaker-img{
  float: left;
  width: 18%;
  background-color: #C8AACE;
  box-shadow: 5px 10px #888888;
}

.speaker img{
  width: 100%;
}

* {
  box-sizing: border-box;
}

.bio{
  margin: 0;
  text-align: left;
  float: left;
  width: 70%;
  padding-top: 30px;
  padding-left: 60px;
}

.other-speaker{
  background: #d9d9e3;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 100%;
}

.other-speaker h4{
  text-align: center;
  font-size: 20px;
}

div.gallery{
  justify-content: center;
  display: flex;
}

div.content {
  height: 100%;
    background-color: #303236;
}

div.content:hover {
   transform: scale(1.1);
  -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

div.content img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: center;
  color: white;
}

div.desc label{
  color: #CCABE5;
}

* {
  box-sizing: border-box;
}
.speaker{
  padding-top: 50px;
  justify-content: center;
  display: flex;
}

.responsive {
  float: left;
  width: 24.99999%;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #666798;
  padding: 20px;
}

.footer footer{
  text-align: center;
  color: white;
}

.footer img{
  float: left;
  padding-top: 2px;
  margin-left: 9%;
  width: 7%;
}

div.sns{
  padding-right: 10%;
}
.footer i{
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
}
