body,html{
  height: 100%;
  margin: 0;
  background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.topnav{
  background-color: #666798;
  overflow:hidden;
  padding: 10px;
  padding-right: 8%;
}

.topnav li{
  display: inline;
}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding:15px;
  padding-right: 25px;
  text-decoration:none;
  font-size: 17px;
}
.topnav-right {
  float: right;
  list-style-type: none;
}
.topnav a:active{
  font-weight: bold;
}

.topnav img{
  margin-left: 9%;
  width: 7%;
}

.dropdown {
  float: left;
  overflow: hidden;
  color: #ddd;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding-top: 15px;
  padding-right: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  font-weight: bold;
}

.pdropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.pdropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.pdropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .pdropdown {
  display: block;
}

#mainContainer{
    margin:0 auto;
    width: 90%;
}
#content-section{
    background-color: white;
    margin-top:-18px;
    width:90%;
}

.header img{
  width:90%;
}

h1{
  font-size: 60px;
  color: white;
  position: absolute;
  position: absolute;
  top: 200px;
  left: 0px;
  right: 0px;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  padding-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

footer {
  background-color: #666798;
  padding: 20px;
}

.footer footer{
  text-align: center;
  color: white;
}

.footer img{
  float: left;
  padding-top: 2px;
  margin-left: 9%;
  width: 7%;
}

div.sns{
  padding-right:30%;
}
.footer i{
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
}
