body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.topnav{
  background-color: #666798;
  overflow:hidden;
  padding: 10px;
  padding-right: 8%;
}

.topnav li{
  display: inline;
}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding:17px;
  padding-right: 25px;
  text-decoration:none;
  font-size: 15px;
}
.topnav-right {
  float: right;
  list-style-type: none;
}
.topnav a:active{
  font-weight: bold;
}

.topnav img{
  margin-left: 9%;
  width: 7%;
}

.dropdown {
  float: left;
  overflow: hidden;
  color: #ddd;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding-top: 15px;
  padding-right: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  font-weight: bold;
}

.pdropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.pdropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.pdropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .pdropdown {
  display: block;
}

#mainContainer{
  margin: 0 auto;
    width: 90%;
}
#content-section{
    background-color: white;
    margin-top:-18px;
    width:90%;
}

.banner{
  position: relative;
}

.banner img{
  width: 90%;
}

.word1 h1 {
  text-align: center;
  font-size: 80px;
  color: #fff;
  margin: 0;
}

.word1 h2 {
  font-size: 28px;
  color: #fff;
  margin: 0;
}

.banner-detail {
  width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: 120px;
  left: 0px;
  right: 0px;
}

.word2 {
  float: left;
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

.word3 {
  float: right;
  width: 200px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.word2 p, .word3 p {
  font-size: 18px;
  color: #fff;
}

.content{
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

.cz, .cy{
  float: left;
  width: 50%;
}

.padd{
  padding: 20px 30px;
}

.bg{
  background: #d9d9e3;
  padding: 20px;
}

.content p{
  margin: 20px 0;
}

.bg1{
  background: #f2f2f2;
  text-align: center;
  color: #ff0000;
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;
}

.cy ul{
  text-align: left;
  list-style: none;
  padding: 0px 30px;
}

.content ul li{
  line-height: 50px;
  border-bottom: 1px solid #d9d9e3;
}

.content ul li a{
  color: #000;
  text-decoration: none;
}

.content ul li span{
  float: right;
}

.content ul li span img {
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.content ul li:last-child a {
  font-weight: bold;
}

.content ul li:last-child span {
  font-weight: bold;
}

button {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  background: #000;
  border-radius: 10px;
  color:#d9d9e3;
}

footer {
  background-color: #666798;
  padding: 20px;
}

.footer footer{
  text-align: center;
  color: white;
}

.footer img{
  float: left;
  padding-top: 2px;
  margin-left: 9%;
  width: 7%;
}

div.sns{
  padding-right: 9%;
}
.footer i{
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
}
